:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --surface-color: #fff;
  --curve: 40;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
  transition: transform var(--animation-duration) var(--timing-function);
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;

  display: flex;
  justify-content: center;
  padding: 10px;
}

.card:hover {
  & .card__overlay {
    transform: translateY(0);
  }

  & .card__image {
    transform: scale(1.1);
  }
}

.card__header {
  display: flex;
  gap: 35px;
}

#arrowTop {
  border: 2px solid #ffa500;
  border-radius: 10px;
  height: 50px;
  width: 60px;
  color: #ffa500;
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.icon {
  position: absolute;
  top: 13%;
  left: 21%;
  display: inline-block;
  width: 32px;
  height: 32px;
  stroke: #ffa500;
  fill: #ffa500;
}
